 *{
    padding: 0;
    margin: 0;
} 
.box1{
    width: 431px;
    height: 134px;
    background-color: red;
    display: inline;
    display: inline-block;
    /* display: none; */
    text-align: center;
    text-align: left;
    text-align: justify;
    text-decoration: overline;
    text-transform: uppercase;
    line-height: 20px;
    /* text-indent: 2px; */
    /* letter-spacing: 10px; */
    word-spacing: 1px;
    word-wrap: break-word;
    
}
.box2{
    width: 431px;
    height: 134px;
    background-color: blue;
    
    display: inline-block;
    text-decoration: line-through;
    text-transform: lowercase;
    text-transform: capitalize;
   
}
.box3
{
    
    width: 431px;
    height: 134px;
    border: solid 2px red;
    margin: 20px;
    font-size: large;
    font-family: serif;
   font-style: oblique;
   font-weight: 700;
   font-variant: normal;
   font-variant: small-caps;
   
}