/*h1{
    /*font-family: 'Do Hyeon', sans-serif;*/


}

p{
    font-size: 30px;
    /*font-weight: bold;
    font-style: italic;*/
    font-variant: small-caps;
  /*  font-family: 'Inconsolata', monospace;*/
    

}*/*